version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: flowforge_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: flowforge
      POSTGRES_PASSWORD: flowforge
      POSTGRES_DB: flowforge
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
